<!doctype html>
<title>Earnings Surprise Forecast</title>
<link rel=stylesheet type=text/css href='./static/new_style.css'>
<div class=page>
  <h1>Earnings Surprise Forecast</h1>

<h4>
<form id='userinput' method='post' action='' > <!-- action must match your next URL -->
   <p>
   Ticker: <input type='text' name='ticker' value='AA'/>
   </p>
   <p>
   Today's Date: <input type='Date' name='date' value='2000-01-01'/>
   </p>
   <p>
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>
</h4>

</div>
